
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom py-3">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="/assets/images/logo.svg" alt="logo">
      </a>
      <a href="user.html" class="d-sm-none">
        <img src="/assets/images/avatar.png" alt="user-image" class="rounded-circle border me-2 user-image">Mokumaru</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item me-3">
            <a class="nav-link active" ari-current="page" href="#">服務方案</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link active" ari-current="page" href="#">關於職旅</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" ari-current="page" href="#">聯絡我們</a>
          </li>
        </ul>

        <a href="user.html" class="d-none d-sm-block"><img src="/assets/images/avatar.png" alt="user-image" class="rounded-circle border me-2 user-image">Mokumaru</a>
      </div>
    </div>
  </nav>