.side-width {
  width: 30%;
}

.fs-14 {
  font-size: 14px;
}

.fs-md-14 {
  font-size: 14px;
}

.btn-style {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 20px;
}

.tab-btn-bg {
  .nav-link {
    background-color: $white;
  }
}
